# Compiled binaries and object files
*.o
*.obj
*.exe
*.out
*.bin
*.dll
*.so
*.dylib
*.sym
*.pdb
# Dependency files
*.d
# ELFC output files
*.lst
*.prg
*.build
*.lkb
*.elfos
src/clib/ctype/*.asm
src/clib/stdio/*.asm
src/clib/stdlib/*.asm
src/clib/string/*.asm
src/clib/time/*.asm
src/examples/*.asm
src/tests/*.asm
src/elfc/elfc
# Build directories
obj/
Debug/
Release/
src/elfc/build

# Temporary files
*~
*.bak
*.swp
*.tmp

# IDE-specific files
.vscode/
.idea/
*.user
*.suo
*.VC.db
*.VC.opendb
