# Compiled binaries and object files
*.o
*.obj
*.out
*.bin
*.dll
*.so
*.dylib
*.sym
*.pdb

# Build directories
obj/
Debug/
Release/
src/elfc/build

# Temporary files
*~
*.bak
*.swp
*.tmp

# IDE-specific files
.vscode/
.idea/
*.user
*.suo
*.VC.db
*.VC.opendb
